.App {
    text-align: center;
    /* background-image: url(./img/124814988-frozen-window-glass-abstract-natural-background-color-gradient-winter-window.jpg); */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

ul {
    list-style-type: none;
}